/* Ensure article content is centered (if desired) here */
article > *:not(.entry-content),
.entry-content > * {
  margin-left: auto;
  margin-right: auto;
}

/* Custom spacing utilities */
.section-spacing {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .section-spacing {
    margin-bottom: 130px;
  }
}

/* Custom typography utilities */
.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-work-sans {
  font-family: 'Work Sans', sans-serif;
}

.text-brand-darkblue {
  color: var(--color-brand-darkblue);
}

.text-gray-700 {
  color: var(--color-gray-700);
}

/* Custom mobile menu utilities */
.mobile-menu-bg {
  background-color: var(--color-brand-blue);
}

.mobile-menu-overlay {
  background-color: rgba(0, 0, 0, 0.25);
}

.mobile-menu-link {
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
}

.mobile-menu-link:hover {
  opacity: 0.8;
}

.mobile-submenu-link {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.8;
}

/* Banner */
.custom-cover {
  position: relative;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.cover-overlay {
  background-color: #2c2c2c8a;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  text-align: left;
  padding: 20px;
}

.cover-overlay h1, .cover-overlay p {
  margin: 0;
  color: #fff;
  text-align: left;
}

.cover-overlay h1{
  font-size: 53.75px;
}

.cover-overlay p {
  margin-top: 10px;
}

.btn-cover {
  display: inline-block;
  background-color: #FEA91D;
  color: #fff;
  font-size: 1rem;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.btn-cover:hover {
  background-color: #e67e22; /* Button hover color */
}

.mobile-submenu-link:hover {
  opacity: 1;
}
